# These owners will be the default owners for everything in
# the repo.

.github/** @mdtarhini 
src/user-test/** @mdtarhini @theoinisan
*.js @theoinisan
* @sachie-swapcardian 
src/product/** @theoinisan 
src/user/** @sachie-swapcardian @pawelzajac123 
